<div class="food-inv-container">
    <div class="dis-water">
        <app-disaster-food></app-disaster-food>
    </div>
    <div class="dis-food">
        <app-disaster-water></app-disaster-water>
    </div>
    <div class="freezer-cap">
        <app-freezer-cap></app-freezer-cap>
    </div>
    <div class="fridge-cap">
        <app-fridge-cap></app-fridge-cap>
    </div>
    <div class="food-exp">
        <app-food-expiration></app-food-expiration>
    </div>
    <div class="need-to-buy">
        <app-need-to-buy></app-need-to-buy>
    </div>
    <div class="inventory-table">
        <app-inventory-table></app-inventory-table>
    </div>
</div>